In [47]:
import csv
import pandas as pd

df_train=pd.read_csv('../data/01_train/train.tsv', sep='\t',
            header=0,
            names = ["Nr","Wort","Typ1","Typ2"],
            quoting=csv.QUOTE_NONE, encoding='utf-8')


 #quoting=0, doublequote=False)
            #quoting=csv.QUOTE_ALL)

In [48]:

df_train = df_train.drop(df_train[df_train['Nr']=='#'].index)

In [49]:
df_train['Typ1'].value_counts()

O             410764
B-LOC           8281
B-PER           7679
B-ORG           5255
I-PER           4491
I-ORG           3770
I-OTH           3507
B-OTH           3024
B-LOCderiv      2808
I-LOC           1169
B-ORGpart        805
B-LOCpart        513
B-OTHderiv       236
B-OTHpart        190
B-PERpart        184
B-PERderiv        62
B-ORGderiv        41
I-OTHpart         20
I-LOCderiv        19
I-ORGpart         18
I-OTHderiv         9
I-PERpart          6
I-LOCpart          1
I-PERderiv         1
Name: Typ1, dtype: int64

In [50]:
# reformat labels
labels_org=['B-LOCderiv','B-LOCpart',]

labels_extension=['deriv','part']

df_train.Typ1=df_train.Typ1.str.rstrip('deriv')
df_train.Typ1=df_train.Typ1.str.rstrip('part')

df_train['Typ1'].value_counts()

O        410764
B-LOC     11602
B-PER      7925
B-ORG      6101
I-PER      4498
I-ORG      3788
I-OTH      3536
B-OTH      3450
I-LOC      1189
Name: Typ1, dtype: int64

In [57]:

df_train['Typ2'].value_counts()

O             450132
B-LOC           1138
B-LOCderiv       602
B-PER            372
B-ORG            222
I-PER            123
I-LOC             72
B-OTH             49
I-ORG             40
B-LOCpart         33
B-PERpart         22
I-OTH             15
B-PERderiv        15
B-ORGpart          7
I-LOCderiv         4
B-ORGderiv         3
B-OTHderiv         3
B-OTHpart          1
Name: Typ2, dtype: int64

In [51]:
df_train

        Nr          Wort   Typ1 Typ2
0        1      Schartau  B-PER    O
1        2         sagte      O    O
2        3           dem      O    O
3        4             "      O    O
4        5  Tagesspiegel  B-ORG    O
...     ..           ...    ...  ...
476847  19          lang      O    O
476848  20       sperren      O    O
476849  21            zu      O    O
476850  22        lassen      O    O
476851  23             .      O    O

[452853 rows x 4 columns]

In [55]:
df_train['Nr'].value_counts()/df_train['Nr'].value_counts()[0]

1     1.000000
2     1.000000
3     1.000000
4     0.999875
5     0.998542
6     0.993250
7     0.980042
8     0.959333
9     0.927875
10    0.889833
11    0.844333
12    0.799000
13    0.751250
14    0.702333
15    0.652958
16    0.605000
17    0.555083
18    0.507375
19    0.460833
20    0.417417
21    0.376417
22    0.337333
23    0.300208
24    0.264750
25    0.234583
26    0.205167
27    0.180167
28    0.159333
29    0.138000
30    0.117792
31    0.100542
32    0.084583
33    0.071000
34    0.058417
35    0.046417
36    0.037083
37    0.030250
38    0.022917
39    0.017458
40    0.013667
41    0.009333
42    0.006583
43    0.004375
44    0.002542
45    0.001708
46    0.001167
47    0.001042
48    0.000667
49    0.000458
50    0.000208
51    0.000125
52    0.000083
53    0.000042
54    0.000042
55    0.000042
56    0.000042
Name: Nr, dtype: float64

In [58]:
context_length=10

x_train=pd.DataFrame(columns=['w_1','w_2'])

x_train

Empty DataFrame
Columns: [a, b]
Index: []

In [ ]:
# Select words that will be visualized
labels = []
tokens = []

# offset can be set to skip stop words
offset = 100
# defines the number of visualized words
num_visualizations = 250

for i in range(index_from + 1 + offset,
               index_from + 1 + offset + num_visualizations):
    if i >= len(embedding_layer.get_weights()[0]):
        break
    tokens.append(embedding_layer.get_weights()[0][i])
    labels.append(inverted_word_index[i])

# use t-SNE as dimension reduction method
tsne_model = TSNE(perplexity=40, n_components=2, init='pca', n_iter=2500,random_state=42)
new_values = tsne_model.fit_transform(np.asarray(tokens))

# visualize data
x = []
y = []
for value in new_values:
    x.append(value[0])
    y.append(value[1])

plt.figure(figsize=(16, 16))
for i in range(len(x)):
    plt.scatter(x[i], y[i])
    plt.annotate(labels[i],
                 xy=(x[i], y[i]),
                 xytext=(5, 2),
                 textcoords='offset points',
                 ha='right',
                 va='bottom')